async function gonder() {

  const soru = input.value.trim();

  const foto = document.getElementById("fotoInput").files[0];

  const dosya = document.getElementById("dosyaInput").files[0];

  const secilenDosya = foto || dosya;


  if (!soru && !secilenDosya) return;


  input.value = '';

  sendBtn.disabled = true;


  // Kullanıcı mesajı
  let kullaniciMesaji = soru;

  if (secilenDosya) {

    kullaniciMesaji +=
      "<br>📎 " + secilenDosya.name;

  }


  mesajEkle(kullaniciMesaji, 'user');


  const typing = typingEkle();


  try {

    const formData = new FormData();

    formData.append(
      "soru",
      soru
    );


    if (secilenDosya) {

      formData.append(
        "dosya",
        secilenDosya
      );

    }


    const res = await fetch(
      '/sor',
      {
        method: 'POST',

        body: formData
      }
    );


    const data = await res.json();


    typing.remove();


    mesajEkle(
      data.cevap,
      'ai'
    );


    // Dosya seçimini temizle

    document
      .getElementById("fotoInput")
      .value = "";


    document
      .getElementById("dosyaInput")
      .value = "";


    document
      .getElementById("dosyaBilgi")
      .innerText = "";


  }

  catch (error) {

    typing.remove();

    mesajEkle(
      "❌ Bağlantı hatası oluştu.",
      'ai'
    );

  }


  sendBtn.disabled = false;

  input.focus();

}
